.Messages {
  overflow: scroll;
  height: 81vh;
}

.Messages::-webkit-scrollbar {
  display: none;
}

.MessageImage {
  display: flex;
  justify-content: space-evenly;
  width: auto;
  max-width: 60px;
  height: auto;
}

@media only screen and (max-width: 992px) {
  .Messages {
    height: 80vh;
  }
}
