.Messages {
  overflow: scroll;
  height: 81vh;
}

.Messages::-webkit-scrollbar {
  display: none;
}

.MessageImage {
  display: flex;
  justify-content: space-evenly;
  width: 60px;
  min-height: 40px;
}

@media only screen and (max-width: 992px) {
  .Messages {
    height: 83vh;
  }
}
