.RoomsColumn {
  color: #ffffff;
  overflow: scroll;
  height: 100vh;
}

.RoomsColumn::-webkit-scrollbar {
  display: none;
}
.Active {
  background-color: red;
}

.Room {
  border-radius: 10px;
}

.Room:hover {
  border-radius: 10px;
}

.RoomPicture {
  width: 20%;
}
